/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 80%;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* specifieke stijlen */


#plaatje1 {
    float: right;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
}

#plaatje2 {
    float: left;
    padding-top: 80px;
    padding-bottom: 1px; 
    clear: both;
    margin-bottom: 90px;

}

#einde {
    text-align: right;
}

#titel {
    text-align: right;
    margin-top: 50px;

}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.1em;
}

.titel {
    margin-bottom: 1px;
    margin-top: 25px;
}

p {
    margin-top: 1px;
}

#revolutie {
    float: right;
}



/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}
